@import url(./common.css);

.contact_page .form {
  max-width: 425px;
  margin: 0 auto;
  margin-bottom: 90px;
}
.contact_page .form .logo {
  text-align: center;
  margin-bottom: 75px;
}
.contact_page .form .item {
  margin-bottom: 40px;
}
.contact_page .form .item .name {
  color: #8d8d8d;
  margin-bottom: 5px;
  font-size: 1.25rem;
}
.contact_page .form .item input[type='text'] {
  width: 100%;
  border: 1px solid #bbb;
  padding: 10px;
  outline: none;
  font-size: 1.25rem;
  color: #8d8d8d;
}
.contact_page .form .item textarea {
  width: 100%;
  border: 1px solid #bbb;
  padding: 10px;
  outline: none;
  font-size: 1.25rem;
  height: 200px;
  color: #8d8d8d;
}
.contact_page .form .item select {
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  outline: none;
  border: 1px solid #bbb;
  color: #8d8d8d;
}
.contact_page .form .item input[type='text']:focus,
.contact_page .form .item textarea:focus {
  border-color: #000;
}
.contact_page .form .item .opt_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #8d8d8d;
  font-size: 1.25rem;
}
.contact_page .form .item .opt_list input[type='radio'],
.contact_page .form .item .opt_list input[type='checkbox'] {
  display: none;
}
.contact_page .form .item .opt_list label {
  margin-bottom: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact_page .form .item .opt_list label .circle {
  width: 20px;
  height: 20px;
  border: 2px solid #8d8d8d;
  border-radius: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_page
  .form
  .item
  .opt_list
  input[type='radio']:checked
  + label
  .circle::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #8d8d8d;
  border-radius: 100%;
}
.contact_page .form .item .opt_list label .square {
  width: 20px;
  height: 20px;
  border: 2px solid #8d8d8d;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_page
  .form
  .item
  .opt_list
  input[type='checkbox']:checked
  + label
  .square::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #8d8d8d;
  border-radius: 3px;
}
.contact_page .form button {
  outline: none;
  background: none;
  border: none;
  color: #333;
  font-weight: 500;
}
.contact_page .form button:hover {
  opacity: 0.8;
}
.contact_page .bottom {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 400;
}
.contact_page .bottom .desc {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-family: Minion;
  font-weight: 600;
}
@media (max-width: 1450px) {
  .contact_page .form .item .name {
    font-size: 1.15rem;
  }
  .contact_page .form .item input[type='text'],
  .contact_page .form .item textarea {
    font-size: 1.15rem;
  }
}
@media (max-width: 1400px) {
  .contact_page .form {
    max-width: 300px;
  }
  .contact_page .form .logo {
    margin-bottom: 50px;
  }
  .contact_page .form .logo img {
    max-width: 145px;
  }
  .contact_page .form .item {
    margin-bottom: 20px;
  }
  .contact_page .form .item .name {
    font-size: 0.85rem;
  }
  .contact_page .form .item input[type='text'],
  .contact_page .form .item textarea {
    font-size: 0.85rem;
  }
  .contact_page .form .item input[type='text'],
  .contact_page .form .item textarea {
    padding: 5px;
  }
  .contact_page .form button {
    font-size: 0.75rem;
  }
  .contact_page .bottom {
    font-size: 0.85rem;
  }
  .contact_page .bottom .desc {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  .contact_page .form {
    margin-bottom: 60px;
  }
  .contact_page .form .logo {
    margin-bottom: 60px;
  }
  .contact_page .form .logo img {
    width: 180px;
  }
  .contact_page .form .item {
    margin-bottom: 20px;
  }
  .contact_page .form .item .name {
    font-size: 1rem;
  }
  .contact_page .form .item input[type='text'],
  .contact_page .form .item textarea {
    font-size: 1rem;
    padding: 7px 10px;
  }
  .contact_page .form .item .opt_list {
    font-size: 1rem;
  }
  .contact_page .form .item select {
    font-size: 1rem;
  }
  .contact_page .bottom {
    font-size: 1rem;
  }
  .contact_page .bottom .desc {
    font-size: 1.25rem;
  }
}
