@import url(./common.css);

.product_page .info {
  display: flex;
  flex-wrap: wrap;
}
.product_page .info .text {
  flex: 0 0 100%;
  margin-bottom: 50px;
  display: flex;
}
.product_page .info .text .desc{
  flex: 1;
  margin-right: 7%;
}
.product_page .info .text .desc .name {
  font-size: 2rem;
  margin-bottom: 30px;
}
.product_page .info .text .desc .desc_list {
  color: #b5b5b5;
  line-height: 1.25;
}
.product_page .info .text .desc .desc_list .item {
  margin-bottom: 10px;
}
.product_page .info .text .desc .desc_list .item:last-child {
  margin-bottom: 0;
}
.product_page .info .text .desc .desc_list .item label {
  font-weight: 700;
  margin-bottom: 0;
}
.product_page .info .text .editor {
  flex: 2;
  font-size: 1rem;
  line-height: 2;
}
.product_page .info .img_list {
  flex: 0 0 100%;
}
.product_page .info .img_list img {
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 1450px) {
  .product_page .info .text .desc{
    margin-right: 5%;
  }
  .product_page .info .text .desc .name{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
@media (max-width: 1100px) {
  .product_page .info {
    flex-wrap: wrap;
  }
  .product_page .info .text {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .product_page .info .text .desc{
    flex: 0 0 100%;
    margin-right: 0;
  }
  .product_page .info .text .desc .name{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .product_page .info .text .desc .desc_list{
    margin-bottom: 20px;
  }
  .product_page .info .img_list{
    flex: 0 0 100%;
  }
}
